<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>accelerometer</key>
		<true/>
		<key>opengles-2</key>
		<true/>
	</dict>
	<key>appleId</key>
	<string>137946283@qq.com</string>
	<key>artistId</key>
	<integer>540763449</integer>
	<key>artistName</key>
	<string>Betaworks One</string>
	<key>bundleShortVersionString</key>
	<string>1.9.3</string>
	<key>bundleVersion</key>
	<string>1.9.3</string>
	<key>copyright</key>
	<string>2013 Betaworks One</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>genre</key>
	<string>游戏</string>
	<key>genreId</key>
	<integer>6014</integer>
	<key>itemId</key>
	<integer>632285588</integer>
	<key>itemName</key>
	<string>Dots: A Game About Connecting</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>Betaworks One</string>
	<key>playlistName</key>
	<string>Dots: A Game About Connecting</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2013-11-06T08:22:17Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string></string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2013-04-30T10:51:26Z</string>
	<key>s</key>
	<integer>143465</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a704.phobos.apple.com/us/r30/Purple4/v4/ac/cf/4c/accf4c14-01b7-1306-b861-03adc10070f2/AppIcon57x57.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
		<integer>4</integer>
		<integer>2</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.nerdyoctopus.dots</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>87392642</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>14997842</integer>
		<integer>15124834</integer>
		<integer>15457977</integer>
		<integer>15558723</integer>
		<integer>15994024</integer>
		<integer>16716924</integer>
		<integer>78082974</integer>
		<integer>83614247</integer>
		<integer>87392642</integer>
	</array>
	<key>subgenres</key>
	<array>
		<dict>
			<key>genre</key>
			<string>街机游戏</string>
			<key>genreId</key>
			<integer>7003</integer>
		</dict>
		<dict>
			<key>genre</key>
			<string>智力游戏</string>
			<key>genreId</key>
			<integer>7012</integer>
		</dict>
	</array>
	<key>vendorId</key>
	<integer>1127743</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
